<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title>Jonas Oliveira</title>
  <link rel="stylesheet" href="/style/gallery.css">
  <link rel="stylesheet" href="/style/modal.css">
  <script src="/script/gallery.js" defer></script>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogammeerimise 2024 aasta kursuse bänner">
  <h1>Jonas Oliveira</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ja ei pruugi sisaldada tõsiseltvõetavat materjali.</p>
    <img src="/~rinde/media/photos/TLU_600x400/tlu_42.jpg" alt="Foto Tallinna Ülikooni Terra hoone sissepääsust">
	<hr>
	<h2>Fotogalerii</h2>
	<ul>
		<li> <a href="/">Avalehele</a></li>
		<li> <a href="/photoupload">Galeriifotode üleslaadimine</a></li>
	</ul>
	<hr>
	<dialog id="modal" class="modalarea">
		<span id="modalClose" class="modalclose">&times;</span>
		<div class="modalhorizontal>
			<div class="modalvertical">
				<p id="modalCaption"></p>
				<img id="modalImage" src="/pics/empty.png" alt="galeriipilt">
			</div>
		</div>
	</dialog>
  <div class="gallery">
	  <% listData.forEach(function(image){ %>
		<img src="<%= image.href %><%= image.filename %>" alt="<%= image.alt %>" data-filename="<%=image.filename %>" data-id="<%= image.id %>" class="thumbs">
	  <% }); %>
</div>
</body>
</html>